SNW_ENTORNO=desarrollo|produccion
SNW_METODO_ENVIO=simulado|whatsapp_web|api_oficial
SNW_NUMEROS_PRUEBA=+569XXXXXXXXX,+569YYYYYYYYY
SNW_INTERVALO_MS=1000

DB_HOST=127.0.0.1
DB_PUERTO=3306
DB_USUARIO=root
DB_CONTRASENA=tu_contraseña
DB_NOMBRE=nombre_base_datos
